<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">


    <title>Wake On Lan Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/standard_style.css" type="text/css">
</head>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"
      integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
      integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous"/>
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="mb-3">
                <h1 class="card-title">Wake On Lan Manager</h1><br>
                <h5 class="card-title">Server List <span class="text-muted fw-normal ms-2"></span></h5>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
                <div>
                    <!--Todo: 권한 체크해서 해당 버튼 hidden 조종-->
                    <button onclick="window.location.href = '/web/add';" data-bs-toggle="modal" data-bs-target=".add-new" class="btn btn-primary"><i
                            class="bx bx-plus me-1"></i> Add New</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="table-responsive">
                    <table class="table project-list-table table-nowrap align-middle table-borderless" >
                        <thead>
                        <tr>
                            <th scope="col" class="ps-4" style="width: 50px;">
                                <div class="form-check font-size-16"></div>
                            </th>
                            <th scope="col">Name</th>
                            <th scope="col">IP Adress</th>
                            <th scope="col">MAC Adress</th>
                            <th scope="col" style="width: 200px;">Action</th>
                        </tr>
                        </thead>
                        <tbody id="main-list">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 align-items-center pb-4">
        <div class="col-sm-6">
            <div><a href="/swagger-ui/index.html" class="mb-sm-0">RestAPI</a></div>
        </div>
        <div class="col-sm-6">
            <div><p class="mb-sm-0">by Dodeca toy project</p></div>
        </div>
    </div>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    function wakeOnLan(deviceName){
        $.ajax({
            url:"/wake/"+deviceName,
            type: "PUT",
            success: function (result){
                alert("패킷 전송 성공")
            },
            error: function (request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }

        })
    }
    function editDevice(deviceName){
        window.location.href = '/web/add?name='+deviceName;

    }
    function deleteDevice(deviceName){
        if(confirm(deviceName+"를 삭제하시겠습니까?")) {
            $.ajax({
                url: "/device/" + deviceName,
                type: "DELETE",
                success: function (result) {
                    alert("삭제 완료")
                    location.reload()
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }

            })
        }
    }
    $.ajax({
        url:"/device",
        type:"GET",
        success: function(result) {
            if (result) {
                result.forEach(function (data){
                    deviceName=data["deviceName"]
                    ipAdress=data["ipAddress"]
                    var form='<tr>\n' +
                        '                            <th scope="row" class="ps-4">\n' +
                        '                                <div class="form-check font-size-16"><input type="checkbox" class="form-check-input"\n' +
                        '                                                                            id="contacusercheck1"/><label\n' +
                        '                                        class="form-check-label" for="contacusercheck1"></label></div>\n' +
                        '                            </th>\n' +
                        '                            <td><span class="text-body">'+deviceName+'</span></td>\n' +
                        '                            <td><span class="badge badge-soft-success mb-0">'+ipAdress+'</span></td>\n' +
                        '                            <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__"\n' +
                        '                                   data-cfemail="ffac96929091ad86939a8cbf929691969d939ad19c9092">[protected]</a>\n' +
                        '                            </td>\n' +
                        '                            <td>\n' +
                        '                                <ul class="list-inline mb-0">\n' +
                        '                                    <li class="list-inline-item">\n' +
                        '                                     <a href="javascript:wakeOnLan(\''+deviceName+'\');" data-bs-toggle="tooltip" data-bs-placement="top"\n' +
                        '                                        title="On" class="px-2 text-success"><i\n' +
                        '                                             class="bx bx-power-off font-size-20"></i></a>\n' +
                        '                                    </li>\n' +
                        '                                    <li class="list-inline-item">\n' +
                        '                                        <a href="javascript:editDevice(\''+deviceName+'\');" data-bs-toggle="tooltip" data-bs-placement="top"\n' +
                        '                                           title="Edit" class="px-2 text-primary"><i\n' +
                        '                                                class="bx bx-pencil font-size-20"></i></a>\n' +
                        '                                    </li>\n' +
                        '                                    <li class="list-inline-item">\n' +
                        '                                        <a href="javascript:deleteDevice(\''+deviceName+'\');" data-bs-toggle="tooltip" data-bs-placement="top"\n' +
                        '                                           title="Delete" class="px-2 text-danger"><i\n' +
                        '                                                class="bx bx-trash-alt font-size-20"></i></a>\n' +
                        '                                    </li>\n' +
                        '                                </ul>\n' +
                        '                            </td>\n' +
                        '                        </tr>'
                    $('#main-list').append(form)


                })
            } else {
                alert("불러오기 실패");
            }
        }
    });

    let Authorization = localStorage.getItem("Authorization");

    if(Authorization==null || Authorization=="")
        window.location.href = '/'
</script>
<script src="/js/commonAuth.js"></script>
</body>
</html>