<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="box">
        <input id="loginUserid" name="userid" type="text" placeholder="id" />
        <input id="loginPassword" name="password" type="password" placeholder="Password" />
        <button onclick="login()">Sign in</button>
        <div class="sign-up-box">
            <i class="material-icons">create</i>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/checkEmail",
            dataType: 'JSON',
            success: function (result) {
                if (result.key) {
                    $.getScript("/js/login.js");
                } else {
                    $.getScript("/js/isEmail.js");
                }
            },
            error: function (error) {
                alert("에러발생");
            }
        });

    });

function authCheck() {

    let Authorization = localStorage.getItem("Authorization");

    if (Authorization != "") {

        $.ajax({
            type: 'GET',
            url: '/auth/check',
            dataType: 'JSON',
            contentType: 'application/json; charset=UTF-8',
            headers: {
                'Authorization': Authorization
            },
            success: function (result) {
                window.location.href = '/web/main'
            },
            error: function (request, status, error) {
                localStorage.setItem("Authorization", "");
            }
        });
    }


}
</script>
</html>