<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/login.css">

</head>

<body>
    <div class="box">
        <input id="loginUserid" name="userid" type="text" placeholder="id" />
        <input id="loginPassword" name="password" type="password" placeholder="Password" />
        <button onclick="login()">Sign in</button>

        <div class="sign-up-box">
            <i class="material-icons">create</i>
        </div>
    </div>
</body>
<script src="/js/login.js"></script>
<script src="/js/commonAuth.js"></script>

</html>